* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 1440px;
  padding: 0;
}

.promo-page {
  background: url('./images/header-bg.jpg');
  background-position: center center no-repeat;
  background-size: cover;
  padding-bottom: 83px;
}

.header {
  height: 99px;
  display: flex;
  padding-left: 78px;
}

.header-menu {
  display: flex;
  margin: 0;
  padding-top: 41px;
}

.header-menu * {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.header-menu__item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  width: 133px;
}

#header-logo {
  background: url(./images/Vector.png);
  height: 150px;
  width: 150px;
  margin-left: 32px;
  margin-right: 35px;
  transform: translateY(-17px);
}

.services {
  display: flex;
  padding-top: 225px;
  padding-left: 83px;
}

.services__img {
  margin-right: 200px;
  transform: translateY(-40px);
}

.services-content {
  flex-direction: column;
  margin-right: 190px;
  padding-left: 78px;
}

.services__content-subtitle {
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  margin-bottom: 9px;
  margin-left: 285px;
  text-transform: uppercase;
  transform: translateY(-11px);
}

.services__content-title {
  border-bottom: #e8c300;
  border-bottom-width: 5px;
  color: #fff;
  font-family: Baumans;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 1;
  margin-bottom: 20px;
  margin-top: 0;
  text-transform: uppercase;
}

.services-content .content__rectangle {
  background: #e8c300;
  border-radius: 50px;
  margin-bottom: 30px;
  margin-left: 320px;
  height: 5px;
  width: 40px;
}

.services-buttons {
  display: flex;
  height: 60px;
  justify-content: center;
  margin-bottom: 80px;
}

.services-buttons button {
  border-radius: 5px;
  color: #fff;
  height: 60px;
  width: 200px;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
}

.services__btn_booking {
  background: #e8c300;
  border: 1px #000;
  margin-right: 40px;
}

.services__btn_search {
  background: transparent;
  border: 1px solid #fff;
}

.socials__item {
  margin-bottom: 13px;
}

.scroll {
  display: flex;
  margin: 0 auto;
  width: 60px;
}

.intro {
  display: flex;
  padding-bottom: 50px;
  padding-left: 81px;
  padding-right: 79px;
}

.intro-content {
  flex-direction: column;
  padding-left: 18px; 
  padding-top: 180px;
  text-align: center;
  width: 50%;
}

.intro__heading {
  font-family: Baumans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 9px;
  text-transform: uppercase;
}

.intro__caption {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  margin-right: 54px;
  margin-top: 12px;
}

.intro__description {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-right: 47px;
  transform: translateX(-5px);
}

.intro-rectangle .rectangle-yellow,
.staff-rectangle .rectangle-yellow {
  background: #e8c300;
  border-radius: 50px;
  height: 5px;
  width: 60px;
}

.intro-rectangle .rectangle-yellow {
  margin-left: 280px;
}

.intro-images {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  transform: translateX(-10px);
  width: 50%;
 }

.intro__photo {
  z-index: 1;
}

.intro__add-img {
  transform: translateX(-275px);
  z-index: 2;
}

.staff {
  background: url('./images/team.jpg');
  background-position: center center no-repeat;
  background-size: cover;
  padding-bottom: 27px;
  padding-top: 28px;
}

.staff__subtitle {
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  text-align: center;
}

.staff-content {
  display: flex;
}

.staff-photo {
  display: flex;
  width: 50%;
}

.staff__img {
  transform: translateY(-25px);
}

.staff-info {
  color: #fff;
  flex-direction: column;
  padding-left: 23px;
  padding-right: 100px;
  padding-top: 94px;
  text-align: center;
  width: 50%;
}

.staff__title {
  font-family: Baumans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 9px;
  text-transform: uppercase;
}

.staff-rectangle .rectangle-yellow {
  margin-left: 265px;
}

.staff__caption {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  margin-top: 13px;
}

.staff__description {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-right: 2px;
}

.booking {
  padding-bottom: 38px;
}

.booking-content {
  display: flex;
  padding-left: 135px;
  padding-right: 80px;
}

.booking-details {
  display: flex;
  flex-direction: column;
  padding-top: 125px;
  width: 50%;
}

.booking__title {
  font-family: Baumans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 9px;
  margin-left: 165px;
  text-transform: uppercase;
}

.booking-rectangle .rectangle-yellow {
  background: #e8c300;
  border-radius: 5px;
  margin-left: 250px;
  height: 5px;
  width: 61px;
}

.booking-form {
  transform: translateY(5px);
}

.booking-form-row {
  display: inline-flex;
  height: 60px;
  margin-bottom: 10px;
}

.booking-form__name,
.booking-form__phone,
.booking-form__date,
.booking-form__email,
.booking-form__guest-num,
.booking-form__time {
  background: #e5e5e5;
  border: none;
  border-radius: 5px;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-indent: 20px;
  height: 60px;
  width: 277px;
}

.booking-form__name,
.booking-form__phone,
.booking-form__date {
  margin-right: 10px;
}

.booking-form-row__cell {
  background: #e5e5e5;
  border-radius: 5px;
  height: 60px;
  width: 277px;
  margin-top: 15px;
}

.booking-form-row__cell select {
  background: url('./images/select-arrow.svg') no-repeat right;
  color: rgba(51, 51, 51, 0.5);
  -webkit-appearance: none;
  width: 255px;
}

.booking-form__reserve {
  background: #e8c300;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  margin-top: 15px;
  text-transform: uppercase;
  height: 60px;
  width: 564px;
}

.booking-img {
  display: flex;
  padding-top: 50px;
  width: 50%;
}

.clock__img {
  transform: translateX(-25px);
  z-index: 1;
}

.clock__add-img {
  transform: translateX(-290px);
  z-index: 2;
}

.booking__contact {
  color: rgba(51, 51, 51, 0.5);
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  transform: translateY(-5px);
}

.specialties {
  background: url('./images/specialties.jpg');
  background-position: center center no-repeat;
  background-size: cover;
  padding-bottom: 40px;
  padding-top: 28px;
}

.specialties__subtitle {
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  margin-left: 13px;
  text-align: center;
  text-transform: uppercase;
}

.specialties-content{
  display: flex;
}

.specialties-photo {
  display: flex;
  width: 50%;
}

.specialties__add-img {
  transform: translateY(-12px);
  z-index: 2;
}

.specialties__img {
  margin-top: -25px;
  transform: translateX(-275px);
  z-index: 1;
}

.specialties-info {
  flex-direction: column;
  margin-right: 34px;
  padding-top: 94px;
  text-align: center;
  width: 50%;
}

.specialties__title {
  color: #fff;
  font-family: Baumans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 9px;
  text-transform: uppercase;
}

.specialties-rectangle .rectangle-yellow {
  background: #e8c300;
  border-radius: 50px;
  margin-left: 310px;
  height: 5px;
  width: 65px;
}

.specialties__caption {
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  margin-left: 50px;
  margin-right: 55px;
  margin-top: 12px;
}

.specialties__description {
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-left: 50px;
  margin-right: 55px;
}

.switch-block {
  display: flex;
  margin-left: 47.5%;
  transform: translateY(-5px);
}

.switch-block__point {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin-right: 20px;
  height: 10px;
  width: 10px;
}

.switch-block__point_active {
  background: #fff;
  border-radius: 50%;
  margin-right: 20px;
  height: 10px;
  width: 10px;
}

.menu {
  padding-bottom: 68px;
  padding-top: 70px;
}

.menu-header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.menu__title {
  font-family: Baumans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 9px;
  text-transform: uppercase;
}

.menu-rectangle .rectangle-yellow {
  background: #e8c300;
  border-radius: 50px;
  margin-left: 48%;
  height: 5px;
  width: 61px;
}

.menu__caption {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  margin: 22px 31% 50px 31%;
}

.menu-card {
  display: flex;
  margin-bottom: 51px;
  margin-left: 21%;
}

.menu-card__item {
  border-right: 1px solid rgba(51, 51, 51, 0.2);
  color: #333;
  height: 50px;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  padding-top: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 120px;
}

.prices {
  display: flex;
  padding-left: 80px;
}

.price-list {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  width: 364px;
}

.price-item {
  margin-bottom: 20px;
}

.price-item__name,
.price-item__total {
  font-family: Baumans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  margin-right: 10px;
}

.price-item__name:after {
  content: '. . . .';
  margin-left: 9px;
  right: 0;
  bottom: 0;
}

.price-item__info {
  color: rgba(51, 51, 51, 0.5);
  font-family: Baumans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 14px;
  letter-spacing: 0.01em;
  margin-top: 0;
}

.events {
  background: url('./images/events.jpg');
  background-position: center center no-repeat;
  background-size: cover;
  padding-bottom: 30px;
  padding-top: 28px;
}

.events__subtitle {
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase; 
}

.events-photos {
  display: flex;
  transform: translateY(-7px);
}

.photo-galerie {
  display: flex;
  flex-wrap: nowrap;
}

.interior-photos__fireplace,
.interior-photos__banquet-hall,
.interior-photos__bar {
  margin: 0 -2px;
}

.interior-photos__neon {
  margin-right: -2px;
}

.weddings {
  display: flex;
  width: 50%;
}

.corporate-parties {
  display: flex;
  width: 50%;
}

.corporate-parties__img {
  transform: translateX(-10px);
}

.events__contact {
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  transform: translateY(-12px);
}

.contact-info {
  padding-bottom: 27px;
  padding-top: 65px;
}

.contact-header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact-rectangle .rectangle-yellow {
  background: #e8c300;
  border-radius: 50px;
  margin-left: 48%;
  height: 5px;
  width: 61px;
}

.contact__title {
  font-family: Baumans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 9px;
  text-transform: uppercase;
}
 
.contact__caption {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  margin: 22px 31% 50px 31%;
}

.client-contact {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  margin-right: 80px;
  transform: translateY(-15px);
}

.client-contact-row,
.company-contact-row {
  display: inline-flex;
}

.client-contact-row__cell {
  background: #e5e5e5;
  border: transparent;
  border-radius: 5px;
  color: rgba(51, 51, 51, 0.5);
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-indent: 20px;
  margin-right: 11px;
  height: 60px;
  width: 420px;
}

.client-contact__message {
  background: #e5e5e5;
  border-radius: 5px;
  border: transparent;
  color: rgba(51, 51, 51, 0.5);
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-indent: 20px;
  padding-top: 20px;
  resize: none;
  height: 120px;
  width: 100%;
  transform: translateY(-25px);
}

input::placeholder {
  transform: translateY(-3px);
}

.company-details {
  height: 60px;
  color: rgba(51, 51, 51, 0.5);
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  list-style-type: none;
  padding: 0;
  width: 50%;
  transform: translateY(-35px);
}

.company-details * {
  display: inline-flex;
}

.company-details__location i,
.company-details__phone i,
.company-details__email i {
  color: #e8c300;
  font-size: 14px;
  line-height: 14px;
  margin-right: 15px;
}

.company-details__location,
.company-details__phone {
  margin-right: 30px;
}

.contact__submission {
  height: 60px;
  background: #e8c300;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 7px;
  transform: translateY(-35px);
  width: 50%;
}

.map-location {
  width: 100%;
}

.map-img {
  background-image: url('./images/map.svg');
  background-position: center center no-repeat;
  background-size: cover;
  height: 475px;
  width: 100%;
}

.footer {
  background: rgba(0, 0, 0, 0.9);
  padding-bottom: 35px;
  padding-top: 32px;
  width: 100%;
}

.footer__copyright {
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.5);
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}

@media (min-width: 1024px) and (max-width: 1280px) {
  body {
    margin: 0 auto;
    max-width: 1280px;
    min-width: 1024px;
    padding: 0;
  }

  .promo-page {
    padding-bottom: 6vw;
  }

  .header {
    height: 92px;
    padding-left: 60px;
  }

  .header-menu {
    display: flex;
    margin: 0;
    padding-top: 34px;
  }

  .header-menu__item {
    line-height: 16px;
    text-align: center;
    width: 115px;
  }

  #header-logo {
    margin-left: 3.5vw;
    margin-right: 3.5vw;
  }

  .services {
    padding-top: 12vw;
    padding-left: 7.5vw;
  }

  .services__img {
    margin-right: 12vw;
  }

  .services-content {
    margin-right: 11vw;
    padding-left: 9vw;
  }

  .services__content-subtitle {
    margin-bottom: 1.2vw;
    margin-left: 37%;
    text-transform: uppercase;
  }

  .services__content-title {
    font-size: 85px;
    line-height: 1;
    margin-bottom: 2.5vw;
  }

  .services-content .content__rectangle {
    margin-bottom: 4vw;
    margin-left: 39%;
    width: 42px;
  }

  .services-buttons {
    height: 55px;
    margin-bottom: 6.5vw;
  }

  .services-buttons button {
    height: 55px;
    width: 190px;
    font-size: 12px;
    line-height: 18px;
  }

  .services__btn_booking {
    margin-right: 35px;
  }

  .socials {
    padding: 0;
  }

  .socials__item {
    margin-bottom: 1.8vw;
  }

  .intro-content {
    padding-left: 1,5vw; 
    padding-top: 14vw;
  }

  .intro__heading {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 1.3vw;
  }

  .intro__caption {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 2vw;
    margin-right: 6vw;
    margin-top: 1.5vw;
  }

  .intro__description {
    font-size: 13px;
    line-height: 20px;
    margin-right: 5vw;
  }

  .intro-rectangle .rectangle-yellow,
  .staff-rectangle .rectangle-yellow {
    height: 5px;
    width: 62px;
  }

  .intro-rectangle .rectangle-yellow {
    margin-left: 43%;
  }

  .intro-images {
    padding-top: 5.5vw;
    width: 50%;
 }

  .intro__photo {
    z-index: 1;
    transform: translateX(-10px);
  }

  .intro__add-img {
    transform: translateX(-305px);
    z-index: 2;
  }
  
  .staff {
    padding-bottom: 3vw;
    padding-top: 2.5vw;
  }

  .staff__img {
  	margin-left: -30px;
    transform: translateY(-15px);
  }

  .staff-info {
    padding-left: 4vw;
    padding-right: 8vw;
    padding-top: 8vw;
  }

  .staff__title {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 1.3vw;
  }

  .staff-rectangle .rectangle-yellow {
    margin-left: 43%;
  }

  .staff__caption {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 2vw;
    margin-top: 1.5vw;
  }

  .staff__description {
    font-size: 13px;
    line-height: 20px;
  }

  .booking {
    padding-bottom: 3.5vw;
  }

  .booking-content {
    padding-left: 7vw;
    padding-right: 8vw;
  }

  .booking-details {
    padding-top: 11vw;
  }

  .booking__title {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 1.3vw;
    margin-left: 32%;
  }

  .booking-rectangle .rectangle-yellow {
    margin-left: 42%;
    width: 63px;
  }

  .booking-form-row {
    height: 55px;
  }

  .booking-form__name,
  .booking-form__phone,
  .booking-form__date,
  .booking-form__email,
  .booking-form__guest-num,
  .booking-form__time {
    height: 55px;
    width: 265px;
  }

  .booking-form-row__cell {
    height: 55px;
    width: 265px;
  }

  .booking-form-row__cell select {
    width: 245px;
  }

  .booking-form__reserve {
    height: 55px;
    width: 540px;
  }

  .booking-img {
    padding-top: 5vw;
  }

  .clock__img {
    transform: translateX(-15px);
    z-index: 1;
  }

  .clock__add-img {
    transform: translateX(-295px);
    z-index: 2;
  }

  .specialties {
    padding-bottom: 3.5vw;
    padding-top: 2.5vw;
  }

  .specialties__add-img {
  	transform: translateX(-15px);
    transform: translateY(-20px);
    z-index: 2;
  }

  .specialties__img {
    margin-top: -15px;
    transform: translateX(-315px);
    z-index: 1;
  }

  .specialties-info {
    margin-right: 3vw;
    padding-top: 8vw;
  }

  .specialties__title {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 1.3vw;
  }

  .specialties-rectangle .rectangle-yellow {
    margin-left: 43%;
    width: 66px;
  }

  .specialties__caption {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 2vw;
    margin-top: 1.5vw;
    margin-right: 3.5vw;
  }

  .specialties__description {
    font-size: 13px;
    line-height: 20px;
    margin-left: 4vw;
    margin-right: 3.5vw;
  }

  .menu {
    padding-bottom: 6.5vw;
    padding-top: 7vw;
  }

  .menu__title {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 1.3vw;
  }

  .menu-rectangle .rectangle-yellow {
    margin-left: 48%;
    width: 64px;
  }

  .menu__caption {
    font-size: 16px;
    line-height: 24px;
    margin: 2vw 31% 4.5vw 31%;
  }

  .menu-card {
    margin-bottom: 5vw;
    margin-left: 18%;
  }

  .menu-card__item {
    height: 47px;
    font-size: 12px;
    line-height: 16px;
    padding-top: 1.3vw;
    width: 115px;
  }

  .prices {
    padding-left: 7vw;
  }

  .price-list {
    margin-right: 8.5vw;
    width: 350px;
  }

  .price-item {
    margin-bottom: 1.8vw;
  }

  .price-item__name,
  .price-item__total {
    font-size: 16px;
    line-height: 16px;
    margin-right: 1.2vw;
  }

  .price-item__name:after {
    margin-left: 0.8vw;
  }

  .price-item__info {
    font-size: 13px;
    line-height: 13px;
  }

  .events {
    padding-bottom: 3vw;
    padding-top: 2.5vw;
  }

  .events-photos {
    transform: translateY(2px);
  }
  
  .wedding-ring__img {
    transform: translateX(-20px);
  }

  .corporate-parties__img {
    transform: translateX(-15px);
  }

  .photo-galerie {
  	display: flex;
  }

  .interior-photos * {
    width: 25%;
  }

  .contact-info {
    padding-bottom: 2.7vw;
    padding-top: 6vw;
  }

  .contact-rectangle .rectangle-yellow {
    margin-left: 48%;
    width: 63px;
  }

  .contact__title {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 1.3vw;
  }
 
  .contact__caption {
    font-size: 16px;
    line-height: 24px;
    margin: 2vw 31% 4.5vw 31%;
  }

  .client-contact {
    margin-left: 7vw;
    margin-right: 5vw;
    transform: translateY(-15px);
    width: 88%;
  }

  .client-contact-row {
  	width: 100%;
  }

  .client-contact-row__cell {
    line-height: 18px;
    margin-right: 1vw;
    height: 55px;
    width: 367px;
  }

  .client-contact__message {
    line-height: 18px;
    padding-top: 1.5vw;
    height: 110px;
    width: 100%;
  }

  .company-details {
    height: 55px;
    line-height: 18px;
  }
  .company-details__location,
  .company-details__phone {
    margin-right: 25px;
  }

  .contact__submission {
    height: 55px;
    line-height: 18px;
    padding-top: 0.7vw;
  }

  .map-img {
    height: 440px;
  }

  .footer {
    padding-bottom: 3.5vw;
    padding-top: 3.2vw;
  }

  .footer__copyright {
    line-height: 14px;
  }
}

